{% extends 'parts/main.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
<div class="product">
    <img class="product_img" src="{{ product.image_uri }}" alt="" loading="lazy" width="300"
         height="150"/>
    <div class="product_title">{{ product.title }}</div>
    <div class="product_description">{{ product.description }}</div>
    <div class="product_price">{{ product.price }} ₽</div>
    <span class="material-icons-outlined add_to_cart" id="{{ i }}">
        &#xe854;
    </span>
</div>
{% endblock %}