<footer>
    <ul class="list">
        <li class="info_text">Контакты:</li>

        <li class="footer-icon-li">
            <span class="material-icons footer-icon">
                phone
            </span>
            <div class="list_text">
                <span>Телефон:</span>
                <span><a href="tel://+79170324874">+79170324874</a></span>
            </div>
        </li>
        <li class="footer-icon-li">
            <span class="material-icons footer-icon">
                email
            </span>
            <div class="list_text">
                <span>
                    Электронная почта:
                </span>
                <span>
                    <a href="mailto://rozhkov.2006@gmail.com">rozhkov.2006@gmail.com</a>
                </span>
            </div>
        </li>
        <li class="footer-icon-li">
            <span class="material-icons footer-icon">
                place
            </span>
            <div class="list_text">
                <span>
                    Адрес:
                </span>
                <span>
                    <a href="">Самара, ул. Томашевский тупик, дом 16</a>
                </span>
            </div>
        </li>
    </ul>
    <ul class="list info_block">
        <li class="info_text">Информация:</li>
        <li><a href="">О магазине</a></li>
        <li><a href="">Доставка</a></li>
        <li><a href="">Гарантия</a></li>
    </ul>
</footer>