<header>
    <div class="title">Shop</div>
    <div class="address">
        <span class="material-icons" style="font-size: 28px">
            place
        </span>

        <span class="your_address">
            Ваш адрес
        </span>
    </div>
    <nav class="right_panel">
        <span class="item last-item">
            <span class="material-icons big">
                search
            </span>
            Поиск
        </span>

        <span class="item">
            <span class="material-icons big">
                account_circle
            </span>
            Войти
        </span>

        <span class="item first-item">
            <span class="material-icons big">
                shopping_cart
            </span>
            Корзина
        </span>
    </nav>
</header>