<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop | Главная</title>

    <link rel="stylesheet" href="c5b89f53ee3daa71511b.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Example page of shop">
</head>
<body>

<div class="address_overlay" id="address_overlay" hidden>
    <div class="address_view">
        Ваш адрес:
        <span id="address_text"></span>

        <span class="material-icons-outlined close" id="close_map_overlay">
            close
        </span>
    </div>

    <div class="map_container">
        <div class="material-icons-outlined center-marker" id="place">
            place
        </div>
        <div id="map"></div>
    </div>
</div>

<header>
    <div class="header_main">
        <div class="title clickable">Shop</div>
        <div class="address clickable" id="address">
        <span class="material-icons-outlined" style="font-size: 28px">
            place
        </span>

            <span class="your_address">
            Ваш адрес
        </span>
        </div>
        <nav class="right_panel">
            <span class="item last-item clickable">
                <span class="material-icons-outlined big">
                    search
                </span>
                Поиск
            </span>

            <span class="item clickable" id="cart_button">
                <span class="material-icons-outlined big">
                    shopping_cart
                </span>
                Корзина
            </span>

            <span class="item first-item clickable" id="login_button">
                <span class="material-icons-outlined big">
                account_circle
                </span>
                Вход
            </span>
        </nav>
    </div>

    <div class="login_dialog" id="login_dialog">
        <label>
            <input type="tel" placeholder="Телефон" class="login_input">
        </label>
        <label>
            <input type="password" class="login_input" placeholder="Пароль">
        </label>

        <input type="submit" class="submit-login-button" id="submit-login-button" value="Войти">
    </div>

    <div class="cart_overlay" id="cart_overlay">
        <span id="empty_cart">В вашей корзине пока-что нет товаров.</span>

        <button id="order_button">Оформить заказ</button>
    </div>
</header>

<main>
    <div class="product_holder">
        <div class="chips" id="chips">
            {% for category in categories %}
                <div class="chip">
            <span class="material-icons-outlined chip-icon">
                check
            </span>
                    {{ category }}
                </div>
            {% endfor %}
        </div>

        <div class="products" id="products">
            {% for i in range(products|length) %}
                <div class="product">
                    {% if i < 5 %}
                        <img class="product_img" src="{{ products[i].image_uri }}" alt="" width="300" height="150" />
                    {% else %}
                        <img class="product_img" src="{{ products[i].image_uri }}" alt="" loading="lazy" width="300" height="150"/>
                    {% endif %}
                    <div class="product_title">{{ products[i].title }}</div>
                    <div class="product_description">{{ products[i].description }}</div>
                    <div class="product_price">{{ products[i].price }} ₽</div>
                    <span class="material-icons-outlined add_to_cart" id="{{ i }}">
                        &#xe854;
                    </span>
                </div>
            {% endfor %}
        </div>
    </div>
</main>

<footer>
    <ul class="list">
        <li class="info_text">Контакты:</li>

        <li class="footer-icon-li">
            <span class="material-icons-outlined footer-icon">
                phone
            </span>
            <div class="list_text">
                <span>Телефон:</span>
                <span><a href="tel:{{ info.phone }}">{{ info.phone }}</a></span>
            </div>
        </li>
        <li class="footer-icon-li">
            <span class="material-icons-outlined footer-icon">
                email
            </span>
            <div class="list_text">
                <span>
                    Электронная почта:
                </span>
                <span>
                    <a href="mailto:{{ info.email }}">{{ info.email }}</a>
                </span>
            </div>
        </li>
        <li class="footer-icon-li">
            <span class="material-icons-outlined footer-icon">
                place
            </span>
            <div class="list_text">
                <span>
                    Адрес:
                </span>
                <span>
                    <a href="{{ info.address_link }}">{{ info.address }}</a>
                </span>
            </div>
        </li>
    </ul>
    <ul class="list info_block">
        <li class="info_text">Информация:</li>
        <li><a href="about">О магазине</a></li>
        <li><a href="delivery">Доставка</a></li>
        <li><a href="warranty">Гарантия</a></li>
    </ul>
</footer>
</body>
</html>