<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="header.css?ver=1">
    <link rel="stylesheet" type="text/css" href="index.css?ver=1">
    <link rel="stylesheet" type="text/css" href="footer.css?ver=1">
</head>
<body>
{% include 'header.template.html' %}
<div class="products">
    {% for product in products %}
        <div class="product">
            <div class="product_img"><img src="{{ product.image_uri }}" alt="" width="300" height="150"></div>
            <div class="product_title">{{ product.title }}</div>
            <div class="product_description">{{ product.description }}</div>
            <div class="product_price">{{ product.price }} ₽</div>
        </div>
    {% endfor %}
</div>
{% include 'footer.template.html' %}
</body>
</html>