<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop | {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="icons.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Example page of shop">
</head>
<body>

{% include 'parts/address_overlay.html' %}

{% include 'parts/header.html' %}

<main>
    {% block main %}

    {% endblock %}
</main>

{% include 'parts/footer.html' %}

</body>
</html>